.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: aliceblue;
}

@media only screen and (min-width: 768px) {
    .game-over {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        background-color: aliceblue;
    }
}

.game-over__retry-text {
    text-align: center;
    color: palevioletred;
    font-size: 54px;
    line-height: 54px;
}

.game-over__retry-button {
    width: 100%;
    padding: 6px;
    background-color: palevioletred;
    color: white;
    font-size: 32px;
    cursor: pointer;
}