.wood {
    background-image: url(../../public/wood-null.png);
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
}

.wood_left {
    background-image: url(../../public/wood-left.png);
    background-position-x: left;
}

.wood_right {
    background-image: url(../../public/wood-right.png);
    background-position-x: right;
}